

.masthead{
    @apply flex flex-col justify-center p-3;
}
.description{
    @apply text-xs text-slate-600 font-light;
}
.caption{
    @apply flex flex-col;
}


.default .icon{
    @apply h-5 w-5 mt-0.5 block;
}
.default .title{
    @apply flex items-start space-x-2;
}



.big.masthead{
    @apply items-center flex-1;
    @apply h-64;
}


.big .icon{
    @apply h-20 w-20 block;
    @apply bg-slate-50 rounded-full p-5;
}
.big .title{
    @apply p-3;
    @apply flex flex-col items-center justify-center space-y-4;
}
.big .caption{
    @apply items-center;
}





  .title-enter{
 
    transform: scale(0);
  }
  .title-enter-active{

    transform: scale(1);
    transition: opacity 300ms, transform 200ms;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);

  }
  .title-exit {
    transform: scale(1);
  }
  .title-exit-active {
  
    transform: scale(1);
    transition: opacity 300ms, transform 200ms;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
  }